.listOfItems {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.pagination {
  display: flex;
  justify-content: center;
}

.emptyData {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .cardItem {
  width: 200px;
  height: 100px;
  background-color: black;
  border: 2px solid #16bb00;
  padding: 15px;
  border-radius: 10px;
}

.title {
  color: #16bb00;
}

.listInfo {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  color: white;
  padding: 0;
  margin-bottom: 10px;
}

.deleteItemBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.link {
  cursor: pointer;
}

.icon {
  fill: none;
}

.cardItem:hover .icon {
  fill: red;
}

.button {
  width: 32px;
  height: 32px;
}

.card {
  width: 100%;
} */
